@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-OOM9e1mP7lRz: 1140px;
  --plasmic-token-content-max-width: var(--token-OOM9e1mP7lRz);
  --token-HNGlYOMNdZQG: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-HNGlYOMNdZQG);
  --token-XgEL9bZrjHIr: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-XgEL9bZrjHIr);
  --token-d4VoMprKcex4: #92959bd9;
  --plasmic-token-light-label: var(--token-d4VoMprKcex4);
  --token-No9M8btE2Vl3: #05050599;
  --plasmic-token-light-secondary: var(--token-No9M8btE2Vl3);
  --token-OlVCjVn4829F: #007aff;
  --plasmic-token-light-blue: var(--token-OlVCjVn4829F);
  --token-VAFq5kecgF-j: #ff3b30;
  --plasmic-token-light-red: var(--token-VAFq5kecgF-j);
  --token-tfX1ha_r0ovo: #ffffff;
  --plasmic-token-white: var(--token-tfX1ha_r0ovo);
  --token-HbhEwDsZD5cT: #ffffffd9;
  --plasmic-token-dark-label: var(--token-HbhEwDsZD5cT);
  --token-Rik4w6yfD_A6: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-Rik4w6yfD_A6);
  --token-Iu0pgs92KiIR: #0000001a;
  --plasmic-token-light-quarternary: var(--token-Iu0pgs92KiIR);
  --token-sJBOy4tKGxst: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-sJBOy4tKGxst);
  --token-aBMHtvZqOYGy: #32d74b;
  --plasmic-token-dark-green: var(--token-aBMHtvZqOYGy);
  --token-82xDMYcGTX4q: #0a84ff;
  --plasmic-token-dark-blue: var(--token-82xDMYcGTX4q);
  --token-JFfAbIzC1F9p: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-JFfAbIzC1F9p);
  --token-sOHNwnzr1Cdu: #34c759;
  --plasmic-token-light-green: var(--token-sOHNwnzr1Cdu);
  --token-DTtvSFNqnoWI: #5856d6;
  --plasmic-token-light-indigo: var(--token-DTtvSFNqnoWI);
  --token-zHjDGkEZNbzo: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-zHjDGkEZNbzo);
  --token-3BkurOjc653x: 1240px;
  --plasmic-token-max-width-navbar: var(--token-3BkurOjc653x);
  --token-an8eGWkKWA1_: var(--token-SL7bk6HggGhj);
  --plasmic-token-unnamed-style-token-2: var(--token-an8eGWkKWA1_);
  --token-SL7bk6HggGhj: #eeeeee80;
  --plasmic-token-grey: var(--token-SL7bk6HggGhj);
  --token-IxwUmCx16hZ_: #2563eb;
  --plasmic-token-brand-brand: var(--token-IxwUmCx16hZ_);
  --token-TFWI6f3WBicS: 0.5rem;
  --plasmic-token-size-8: var(--token-TFWI6f3WBicS);
  --token-qlmymPiygt-S: Inter;
  --plasmic-token-sans-serif: var(--token-qlmymPiygt-S);
  --token-JPm3-1fuH1pK: 1rem;
  --plasmic-token-font-md: var(--token-JPm3-1fuH1pK);
  --token-gCIMC0PCBstR: 1.25;
  --plasmic-token-line-height-md: var(--token-gCIMC0PCBstR);
  --token-iaLP9I2FC8JV: 0.375rem;
  --plasmic-token-size-6: var(--token-iaLP9I2FC8JV);
  --token-L0X6o5rB5iNJ: #374151;
  --plasmic-token-neutral-neutral: var(--token-L0X6o5rB5iNJ);
  --token-CijJEIjyE9b7: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-CijJEIjyE9b7);
  --token-KnfjLpM0Iji5: #6b7280;
  --plasmic-token-muted-muted: var(--token-KnfjLpM0Iji5);
  --token-8xpX52QhsuA0: 0.25rem;
  --plasmic-token-size-4: var(--token-8xpX52QhsuA0);
  --token-I2s9sTFocujm: 0.75rem;
  --plasmic-token-font-sm: var(--token-I2s9sTFocujm);
  --token--rxK3c4TwSE-: 1;
  --plasmic-token-line-height-sm: var(--token--rxK3c4TwSE-);
  --token-1dNFG50lQSFq: 1.25rem;
  --plasmic-token-font-lg: var(--token-1dNFG50lQSFq);
  --token-i_Py_Uob2LfP: 1.4;
  --plasmic-token-line-height-lg: var(--token-i_Py_Uob2LfP);
  --token-M-ASADUYF7cp: 0.125rem;
  --plasmic-token-size-2: var(--token-M-ASADUYF7cp);
  --token-UEW2obpmBe0k: #16a34a;
  --plasmic-token-success-success: var(--token-UEW2obpmBe0k);
  --token-AWSgK3ljIebk: #facc15;
  --plasmic-token-warning-warning: var(--token-AWSgK3ljIebk);
  --token-fwUWQqgVl49u: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-fwUWQqgVl49u);
  --token-YXPeO6LRLA_7: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-YXPeO6LRLA_7);
  --token-ad-hZSEhuUvj: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-ad-hZSEhuUvj);
  --token-LOATQ6RKDJwk: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-LOATQ6RKDJwk);
  --token-7bO3jwKJ1fIA: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-7bO3jwKJ1fIA);
  --token-RfM3GCkc0Brh: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-RfM3GCkc0Brh);
  --token-zzC9TK-IUHNH: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-zzC9TK-IUHNH);
  --token-lOCfYCU0hRG2: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-lOCfYCU0hRG2);
  --token-Y6maADM9tamy: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-Y6maADM9tamy);
  --token-6Rt55LeyD-y_: #86efac;
  --plasmic-token-success-success-border: var(--token-6Rt55LeyD-y_);
  --token-9q71Dz-Kqw7P: #fde047;
  --plasmic-token-warning-warning-border: var(--token-9q71Dz-Kqw7P);
  --token-pWaOEkGPJh_H: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-pWaOEkGPJh_H);
  --token-JiBecDl7ybOe: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-JiBecDl7ybOe);
  --token-C4AWkHTmVVlp: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-C4AWkHTmVVlp);
  --token-3wio9yP4nIqa: #00000033;
  --plasmic-token-interaction-pressed: var(--token-3wio9yP4nIqa);
  --token-d5WSV7ASjl_7: 0.625rem;
  --plasmic-token-size-10: var(--token-d5WSV7ASjl_7);
  --token--H3aGNu0h3gB: 0.75rem;
  --plasmic-token-size-12: var(--token--H3aGNu0h3gB);
  --token-RdhuVtiRMXJq: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-RdhuVtiRMXJq);
  --token-unwKK4_i3oiu: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-unwKK4_i3oiu);
  --token-dZf9GVQHxBKu: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-dZf9GVQHxBKu);
  --token-1b59BBpHnqZb: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-1b59BBpHnqZb);
  --token-HBlNIZY9UKxl: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-HBlNIZY9UKxl);
  --token-K1IQ0TDVitLr: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-K1IQ0TDVitLr);
  --token-xbML2cnr9FSK: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-xbML2cnr9FSK);
  --token-IE2B8Q37sXdX: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-IE2B8Q37sXdX);
  --token-8b50toQSsh8S: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-8b50toQSsh8S);
  --token-mT0R87ddhIC5: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-mT0R87ddhIC5);
  --token-6Sll_C2s3Cqa: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-6Sll_C2s3Cqa);
  --token-2IH7QXWHwhyh: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-2IH7QXWHwhyh
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ARPyw_7AwiKC_font-family: "Montserrat", sans-serif;
  --mixin-ARPyw_7AwiKC_font-size: 24px;
  --mixin-ARPyw_7AwiKC_font-weight: 500;
  --mixin-ARPyw_7AwiKC_font-style: normal;
  --mixin-ARPyw_7AwiKC_color: #00000080;
  --mixin-ARPyw_7AwiKC_text-align: left;
  --mixin-ARPyw_7AwiKC_text-transform: none;
  --mixin-ARPyw_7AwiKC_line-height: 1.5;
  --mixin-ARPyw_7AwiKC_letter-spacing: normal;
  --mixin-ARPyw_7AwiKC_white-space: pre-wrap;
  --mixin-ARPyw_7AwiKC_user-select: text;
  --mixin-ARPyw_7AwiKC_text-decoration-line: none;
  --mixin-ARPyw_7AwiKC_text-overflow: clip;
  --mixin-mm-s0xP65VB9_white-space: pre-wrap;
  --mixin-hJWM86QipyQ0_font-family: "Montserrat", sans-serif;
  --mixin-hJWM86QipyQ0_color: #ffffff;
  --mixin-hJWM86QipyQ0_font-size: 72px;
  --mixin-hJWM86QipyQ0_font-weight: 700;
  --mixin-hJWM86QipyQ0_line-height: 88px;
  --mixin-hJWM86QipyQ0_white-space: pre-wrap;
  --mixin-26ItlQDyJOnG_font-family: "Inter", sans-serif;
  --mixin-26ItlQDyJOnG_color: #000000;
  --mixin-26ItlQDyJOnG_font-size: 36px;
  --mixin-26ItlQDyJOnG_font-weight: 700;
  --mixin-26ItlQDyJOnG_line-height: 43px;
  --mixin-26ItlQDyJOnG_text-align: center;
  --mixin-26ItlQDyJOnG_white-space: pre-wrap;
  --mixin-ITG3VOPkyqna_font-family: "Inter", sans-serif;
  --mixin-ITG3VOPkyqna_color: #000000;
  --mixin-ITG3VOPkyqna_font-size: 24px;
  --mixin-ITG3VOPkyqna_font-weight: 600;
  --mixin-ITG3VOPkyqna_letter-spacing: -0.5px;
  --mixin-ITG3VOPkyqna_line-height: 1.3;
  --mixin-ITG3VOPkyqna_white-space: pre-wrap;
  --mixin-q3rhTotTpXm7_font-family: "Montserrat", sans-serif;
  --mixin-q3rhTotTpXm7_color: #185adb;
  --mixin-q3rhTotTpXm7_font-size: 24px;
  --mixin-q3rhTotTpXm7_font-weight: 700;
  --mixin-q3rhTotTpXm7_line-height: 29px;
  --mixin-q3rhTotTpXm7_text-align: center;
  --mixin-q3rhTotTpXm7_white-space: pre-wrap;
  --mixin-f7GptB1ULeGf_font-family: "Inter", sans-serif;
  --mixin-f7GptB1ULeGf_color: #000000;
  --mixin-f7GptB1ULeGf_font-size: 16px;
  --mixin-f7GptB1ULeGf_font-weight: 600;
  --mixin-f7GptB1ULeGf_line-height: 1.5;
  --mixin-f7GptB1ULeGf_white-space: pre-wrap;
  --mixin-tvGt6iRMkE78_border-left-color: #dddddd;
  --mixin-tvGt6iRMkE78_border-left-style: solid;
  --mixin-tvGt6iRMkE78_border-left-width: 3px;
  --mixin-tvGt6iRMkE78_color: #888888;
  --mixin-tvGt6iRMkE78_padding-left: 10px;
  --mixin-tvGt6iRMkE78_white-space: pre-wrap;
  --mixin--s4volEJ3i3x_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--s4volEJ3i3x_border-bottom-color: #dddddd;
  --mixin--s4volEJ3i3x_border-bottom-style: solid;
  --mixin--s4volEJ3i3x_border-bottom-width: 1px;
  --mixin--s4volEJ3i3x_border-left-color: #dddddd;
  --mixin--s4volEJ3i3x_border-left-style: solid;
  --mixin--s4volEJ3i3x_border-left-width: 1px;
  --mixin--s4volEJ3i3x_border-right-color: #dddddd;
  --mixin--s4volEJ3i3x_border-right-style: solid;
  --mixin--s4volEJ3i3x_border-right-width: 1px;
  --mixin--s4volEJ3i3x_border-top-color: #dddddd;
  --mixin--s4volEJ3i3x_border-top-style: solid;
  --mixin--s4volEJ3i3x_border-top-width: 1px;
  --mixin--s4volEJ3i3x_border-bottom-left-radius: 3px;
  --mixin--s4volEJ3i3x_border-bottom-right-radius: 3px;
  --mixin--s4volEJ3i3x_border-top-left-radius: 3px;
  --mixin--s4volEJ3i3x_border-top-right-radius: 3px;
  --mixin--s4volEJ3i3x_font-family: "Inconsolata";
  --mixin--s4volEJ3i3x_padding-bottom: 1px;
  --mixin--s4volEJ3i3x_padding-left: 4px;
  --mixin--s4volEJ3i3x_padding-right: 4px;
  --mixin--s4volEJ3i3x_padding-top: 1px;
  --mixin--s4volEJ3i3x_white-space: pre-wrap;
  --mixin-s-_37GDpwqyY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-s-_37GDpwqyY_border-bottom-color: #dddddd;
  --mixin-s-_37GDpwqyY_border-bottom-style: solid;
  --mixin-s-_37GDpwqyY_border-bottom-width: 1px;
  --mixin-s-_37GDpwqyY_border-left-color: #dddddd;
  --mixin-s-_37GDpwqyY_border-left-style: solid;
  --mixin-s-_37GDpwqyY_border-left-width: 1px;
  --mixin-s-_37GDpwqyY_border-right-color: #dddddd;
  --mixin-s-_37GDpwqyY_border-right-style: solid;
  --mixin-s-_37GDpwqyY_border-right-width: 1px;
  --mixin-s-_37GDpwqyY_border-top-color: #dddddd;
  --mixin-s-_37GDpwqyY_border-top-style: solid;
  --mixin-s-_37GDpwqyY_border-top-width: 1px;
  --mixin-s-_37GDpwqyY_border-bottom-left-radius: 3px;
  --mixin-s-_37GDpwqyY_border-bottom-right-radius: 3px;
  --mixin-s-_37GDpwqyY_border-top-left-radius: 3px;
  --mixin-s-_37GDpwqyY_border-top-right-radius: 3px;
  --mixin-s-_37GDpwqyY_font-family: "Inconsolata";
  --mixin-s-_37GDpwqyY_padding-bottom: 3px;
  --mixin-s-_37GDpwqyY_padding-left: 6px;
  --mixin-s-_37GDpwqyY_padding-right: 6px;
  --mixin-s-_37GDpwqyY_padding-top: 3px;
  --mixin-s-_37GDpwqyY_white-space: pre-wrap;
  --mixin-hvoBqBwRDRKN_display: flex;
  --mixin-hvoBqBwRDRKN_flex-direction: column;
  --mixin-hvoBqBwRDRKN_align-items: stretch;
  --mixin-hvoBqBwRDRKN_justify-content: flex-start;
  --mixin-hvoBqBwRDRKN_list-style-position: outside;
  --mixin-hvoBqBwRDRKN_padding-left: 40px;
  --mixin-hvoBqBwRDRKN_position: relative;
  --mixin-hvoBqBwRDRKN_list-style-type: decimal;
  --mixin-hvoBqBwRDRKN_white-space: pre-wrap;
  --mixin-vHE9Z0LdaAwg_display: flex;
  --mixin-vHE9Z0LdaAwg_flex-direction: column;
  --mixin-vHE9Z0LdaAwg_align-items: stretch;
  --mixin-vHE9Z0LdaAwg_justify-content: flex-start;
  --mixin-vHE9Z0LdaAwg_list-style-position: outside;
  --mixin-vHE9Z0LdaAwg_padding-left: 40px;
  --mixin-vHE9Z0LdaAwg_position: relative;
  --mixin-vHE9Z0LdaAwg_list-style-type: disc;
  --mixin-vHE9Z0LdaAwg_white-space: pre-wrap;
  --mixin-YztKNp9hbaBb_color: #000000;
  --mixin-YztKNp9hbaBb_font-family: "Montserrat", sans-serif;
  --mixin-YztKNp9hbaBb_font-size: 64px;
  --mixin-YztKNp9hbaBb_font-weight: 700;
  --mixin-YztKNp9hbaBb_line-height: 78px;
  --mixin-YztKNp9hbaBb_text-align: center;
  --mixin-YztKNp9hbaBb_white-space: pre-wrap;
  --mixin-GhaCSjWGcWj__white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-ARPyw_7AwiKC_font-size: 16px;
    --mixin-ARPyw_7AwiKC_line-height: 27px;
    --mixin-ARPyw_7AwiKC_white-space: pre-wrap;
    --mixin-hJWM86QipyQ0_font-size: 40px;
    --mixin-hJWM86QipyQ0_line-height: 48px;
    --mixin-hJWM86QipyQ0_white-space: pre-wrap;
    --mixin-YztKNp9hbaBb_font-size: 28px;
    --mixin-YztKNp9hbaBb_line-height: 34px;
    --mixin-YztKNp9hbaBb_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-wDTH1EodH6_T_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-wDTH1EodH6_T_white-space);
  --mixin-OKXdzztuGg-X_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-OKXdzztuGg-X_box-shadow
  );
  --mixin-OKXdzztuGg-X_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-OKXdzztuGg-X_white-space
  );
  --mixin-oTHXytIo2PT6_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-oTHXytIo2PT6_white-space);
  --mixin-hMH-DiOlWPCh_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-hMH-DiOlWPCh_white-space
  );
  --mixin--07-fn-6OBza_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin--07-fn-6OBza_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ARPyw_7AwiKC_font-family);
  font-size: var(--mixin-ARPyw_7AwiKC_font-size);
  font-weight: var(--mixin-ARPyw_7AwiKC_font-weight);
  font-style: var(--mixin-ARPyw_7AwiKC_font-style);
  color: var(--mixin-ARPyw_7AwiKC_color);
  text-align: var(--mixin-ARPyw_7AwiKC_text-align);
  text-transform: var(--mixin-ARPyw_7AwiKC_text-transform);
  line-height: var(--mixin-ARPyw_7AwiKC_line-height);
  letter-spacing: var(--mixin-ARPyw_7AwiKC_letter-spacing);
  white-space: var(--mixin-ARPyw_7AwiKC_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-hJWM86QipyQ0_font-family);
  color: var(--mixin-hJWM86QipyQ0_color);
  font-size: var(--mixin-hJWM86QipyQ0_font-size);
  font-weight: var(--mixin-hJWM86QipyQ0_font-weight);
  line-height: var(--mixin-hJWM86QipyQ0_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-26ItlQDyJOnG_font-family);
  color: var(--mixin-26ItlQDyJOnG_color);
  font-size: var(--mixin-26ItlQDyJOnG_font-size);
  font-weight: var(--mixin-26ItlQDyJOnG_font-weight);
  line-height: var(--mixin-26ItlQDyJOnG_line-height);
  text-align: var(--mixin-26ItlQDyJOnG_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-ITG3VOPkyqna_font-family);
  color: var(--mixin-ITG3VOPkyqna_color);
  font-size: var(--mixin-ITG3VOPkyqna_font-size);
  font-weight: var(--mixin-ITG3VOPkyqna_font-weight);
  letter-spacing: var(--mixin-ITG3VOPkyqna_letter-spacing);
  line-height: var(--mixin-ITG3VOPkyqna_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-q3rhTotTpXm7_font-family);
  color: var(--mixin-q3rhTotTpXm7_color);
  font-size: var(--mixin-q3rhTotTpXm7_font-size);
  font-weight: var(--mixin-q3rhTotTpXm7_font-weight);
  line-height: var(--mixin-q3rhTotTpXm7_line-height);
  text-align: var(--mixin-q3rhTotTpXm7_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-f7GptB1ULeGf_font-family);
  color: var(--mixin-f7GptB1ULeGf_color);
  font-size: var(--mixin-f7GptB1ULeGf_font-size);
  font-weight: var(--mixin-f7GptB1ULeGf_font-weight);
  line-height: var(--mixin-f7GptB1ULeGf_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-tvGt6iRMkE78_color);
  padding-left: var(--mixin-tvGt6iRMkE78_padding-left);
  border-left: var(--mixin-tvGt6iRMkE78_border-left-width)
    var(--mixin-tvGt6iRMkE78_border-left-style)
    var(--mixin-tvGt6iRMkE78_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--s4volEJ3i3x_font-family);
  border-radius: var(--mixin--s4volEJ3i3x_border-top-left-radius)
    var(--mixin--s4volEJ3i3x_border-top-right-radius)
    var(--mixin--s4volEJ3i3x_border-bottom-right-radius)
    var(--mixin--s4volEJ3i3x_border-bottom-left-radius);
  padding: var(--mixin--s4volEJ3i3x_padding-top)
    var(--mixin--s4volEJ3i3x_padding-right)
    var(--mixin--s4volEJ3i3x_padding-bottom)
    var(--mixin--s4volEJ3i3x_padding-left);
  border-top: var(--mixin--s4volEJ3i3x_border-top-width)
    var(--mixin--s4volEJ3i3x_border-top-style)
    var(--mixin--s4volEJ3i3x_border-top-color);
  border-right: var(--mixin--s4volEJ3i3x_border-right-width)
    var(--mixin--s4volEJ3i3x_border-right-style)
    var(--mixin--s4volEJ3i3x_border-right-color);
  border-bottom: var(--mixin--s4volEJ3i3x_border-bottom-width)
    var(--mixin--s4volEJ3i3x_border-bottom-style)
    var(--mixin--s4volEJ3i3x_border-bottom-color);
  border-left: var(--mixin--s4volEJ3i3x_border-left-width)
    var(--mixin--s4volEJ3i3x_border-left-style)
    var(--mixin--s4volEJ3i3x_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-s-_37GDpwqyY_font-family);
  border-radius: var(--mixin-s-_37GDpwqyY_border-top-left-radius)
    var(--mixin-s-_37GDpwqyY_border-top-right-radius)
    var(--mixin-s-_37GDpwqyY_border-bottom-right-radius)
    var(--mixin-s-_37GDpwqyY_border-bottom-left-radius);
  padding: var(--mixin-s-_37GDpwqyY_padding-top)
    var(--mixin-s-_37GDpwqyY_padding-right)
    var(--mixin-s-_37GDpwqyY_padding-bottom)
    var(--mixin-s-_37GDpwqyY_padding-left);
  border-top: var(--mixin-s-_37GDpwqyY_border-top-width)
    var(--mixin-s-_37GDpwqyY_border-top-style)
    var(--mixin-s-_37GDpwqyY_border-top-color);
  border-right: var(--mixin-s-_37GDpwqyY_border-right-width)
    var(--mixin-s-_37GDpwqyY_border-right-style)
    var(--mixin-s-_37GDpwqyY_border-right-color);
  border-bottom: var(--mixin-s-_37GDpwqyY_border-bottom-width)
    var(--mixin-s-_37GDpwqyY_border-bottom-style)
    var(--mixin-s-_37GDpwqyY_border-bottom-color);
  border-left: var(--mixin-s-_37GDpwqyY_border-left-width)
    var(--mixin-s-_37GDpwqyY_border-left-style)
    var(--mixin-s-_37GDpwqyY_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-hvoBqBwRDRKN_display);
  flex-direction: var(--mixin-hvoBqBwRDRKN_flex-direction);
  align-items: var(--mixin-hvoBqBwRDRKN_align-items);
  justify-content: var(--mixin-hvoBqBwRDRKN_justify-content);
  list-style-position: var(--mixin-hvoBqBwRDRKN_list-style-position);
  padding-left: var(--mixin-hvoBqBwRDRKN_padding-left);
  position: var(--mixin-hvoBqBwRDRKN_position);
  list-style-type: var(--mixin-hvoBqBwRDRKN_list-style-type);
  flex-column-gap: var(--mixin-hvoBqBwRDRKN_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-vHE9Z0LdaAwg_display);
  flex-direction: var(--mixin-vHE9Z0LdaAwg_flex-direction);
  align-items: var(--mixin-vHE9Z0LdaAwg_align-items);
  justify-content: var(--mixin-vHE9Z0LdaAwg_justify-content);
  list-style-position: var(--mixin-vHE9Z0LdaAwg_list-style-position);
  padding-left: var(--mixin-vHE9Z0LdaAwg_padding-left);
  position: var(--mixin-vHE9Z0LdaAwg_position);
  list-style-type: var(--mixin-vHE9Z0LdaAwg_list-style-type);
  flex-column-gap: var(--mixin-vHE9Z0LdaAwg_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-YztKNp9hbaBb_color);
  font-family: var(--mixin-YztKNp9hbaBb_font-family);
  font-size: var(--mixin-YztKNp9hbaBb_font-size);
  font-weight: var(--mixin-YztKNp9hbaBb_font-weight);
  line-height: var(--mixin-YztKNp9hbaBb_line-height);
  text-align: var(--mixin-YztKNp9hbaBb_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
