.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-zHjDGkEZNbzo);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-TFWI6f3WBicS);
  font-family: var(--token-qlmymPiygt-S);
  font-size: var(--token-JPm3-1fuH1pK);
  line-height: var(--token-gCIMC0PCBstR);
  outline-style: none;
  border-radius: var(--token-iaLP9I2FC8JV);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-M-ASADUYF7cp);
  outline-offset: 1px;
  outline-color: var(--token-IxwUmCx16hZ_);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-L0X6o5rB5iNJ);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-KnfjLpM0Iji5);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-UEW2obpmBe0k);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-AWSgK3ljIebk);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-CijJEIjyE9b7);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-zHjDGkEZNbzo);
  border-style: solid;
  border-color: #185adb;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token--rxK3c4TwSE-);
  font-size: var(--token-I2s9sTFocujm);
  column-gap: var(--token-M-ASADUYF7cp);
  row-gap: 0px;
  border-radius: var(--token-8xpX52QhsuA0);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-I2s9sTFocujm);
  line-height: var(--token--rxK3c4TwSE-);
  column-gap: var(--token-8xpX52QhsuA0);
  row-gap: 0px;
  border-radius: var(--token-8xpX52QhsuA0);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-1dNFG50lQSFq);
  line-height: var(--token-i_Py_Uob2LfP);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-1dNFG50lQSFq);
  line-height: var(--token-i_Py_Uob2LfP);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-fwUWQqgVl49u);
  border-radius: var(--token-iaLP9I2FC8JV);
}
.softBackgroundcolor_neutral {
  background: var(--token-YXPeO6LRLA_7);
}
.softBackgroundcolor_muted {
  background: var(--token-ad-hZSEhuUvj);
}
.softBackgroundcolor_success {
  background: var(--token-LOATQ6RKDJwk);
}
.softBackgroundcolor_warning {
  background: var(--token-7bO3jwKJ1fIA);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-RfM3GCkc0Brh);
}
.softBackgroundtype_soft {
  background: var(--token-tfX1ha_r0ovo);
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.roottype_bordered_color_blue[data-hovered]
  .softBackgroundtype_bordered_color_blue {
  background: var(--token-IE2B8Q37sXdX);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-iaLP9I2FC8JV);
  border: 0px solid var(--token-zzC9TK-IUHNH);
}
.bordercolor_neutral {
  border-color: var(--token-lOCfYCU0hRG2);
}
.bordercolor_muted {
  border-color: var(--token-Y6maADM9tamy);
}
.bordercolor_success {
  border-color: var(--token-6Rt55LeyD-y_);
}
.bordercolor_warning {
  border-color: var(--token-9q71Dz-Kqw7P);
}
.bordercolor_errorDestructive {
  border-color: var(--token-pWaOEkGPJh_H);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-iaLP9I2FC8JV);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-JiBecDl7ybOe);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-C4AWkHTmVVlp);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-3wio9yP4nIqa);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__crGKa {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-iaLP9I2FC8JV) var(--token-d5WSV7ASjl_7);
}
.freeBox__crGKa > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-iaLP9I2FC8JV));
  width: calc(100% + var(--token-iaLP9I2FC8JV));
}
.freeBox__crGKa > :global(.__wab_flex-container) > *,
.freeBox__crGKa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__crGKa > :global(.__wab_flex-container) > picture > img,
.freeBox__crGKa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-iaLP9I2FC8JV);
}
.freeBoxsize_extraSmall__crGKaLiHad {
  padding: var(--token-8xpX52QhsuA0) var(--token-iaLP9I2FC8JV);
}
.freeBoxsize_small__crGKaETf9K {
  padding: var(--token-iaLP9I2FC8JV) var(--token-TFWI6f3WBicS);
}
.freeBoxsize_large__crGKaYf21H {
  padding-top: var(--token-8xpX52QhsuA0);
  padding-bottom: var(--token-8xpX52QhsuA0);
}
.freeBoxsize_extraLarge__crGKaF8O78 {
  padding: 16px 32px;
}
.freeBoxroundedFull__crGKaqk0XE {
  padding-right: var(--token--H3aGNu0h3gB);
  padding-left: var(--token--H3aGNu0h3gB);
}
.freeBox__bPtKo {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__bPtKoyqH1Y {
  display: flex;
}
.slotTargetStart {
  color: var(--token-RdhuVtiRMXJq);
}
.slotTargetStartcolor_neutral {
  color: var(--token-unwKK4_i3oiu);
}
.slotTargetStartcolor_muted {
  color: var(--token-dZf9GVQHxBKu);
}
.slotTargetStartcolor_success {
  color: var(--token-K1IQ0TDVitLr);
}
.slotTargetStartcolor_warning {
  color: var(--token-HBlNIZY9UKxl);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-xbML2cnr9FSK);
}
.slotTargetStarttype_soft {
  color: var(--token-1b59BBpHnqZb);
}
.slotTargetStarttype_bordered {
  color: var(--token-1b59BBpHnqZb);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-I2s9sTFocujm);
}
.slotTargetStartsize_small {
  font-size: var(--token-I2s9sTFocujm);
}
.slotTargetStartsize_large {
  font-size: var(--token-1dNFG50lQSFq);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-1dNFG50lQSFq);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-IE2B8Q37sXdX);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-IE2B8Q37sXdX);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-8b50toQSsh8S);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-8b50toQSsh8S);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-mT0R87ddhIC5);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-mT0R87ddhIC5);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-6Sll_C2s3Cqa);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-6Sll_C2s3Cqa);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-2IH7QXWHwhyh);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-2IH7QXWHwhyh);
}
.svg__nUwwl {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-RdhuVtiRMXJq);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-unwKK4_i3oiu);
}
.slotTargetLabelcolor_muted {
  color: var(--token-dZf9GVQHxBKu);
}
.slotTargetLabelcolor_success {
  color: var(--token-K1IQ0TDVitLr);
}
.slotTargetLabelcolor_warning {
  color: var(--token-HBlNIZY9UKxl);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-xbML2cnr9FSK);
}
.slotTargetLabeltype_soft {
  color: #185adb;
}
.slotTargetLabeltype_bordered {
  color: var(--token-1b59BBpHnqZb);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-IE2B8Q37sXdX);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-8b50toQSsh8S);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-IE2B8Q37sXdX);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-mT0R87ddhIC5);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-8b50toQSsh8S);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-6Sll_C2s3Cqa);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-mT0R87ddhIC5);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-2IH7QXWHwhyh);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-6Sll_C2s3Cqa);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-2IH7QXWHwhyh);
}
.text__jrVps {
  white-space: pre;
  color: #eeeeee;
}
.freeBox__lue4R {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__lue4R3KWGq {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-RdhuVtiRMXJq);
}
.slotTargetEndcolor_neutral {
  color: var(--token-unwKK4_i3oiu);
}
.slotTargetEndcolor_muted {
  color: var(--token-dZf9GVQHxBKu);
}
.slotTargetEndcolor_success {
  color: var(--token-K1IQ0TDVitLr);
}
.slotTargetEndcolor_warning {
  color: var(--token-HBlNIZY9UKxl);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-xbML2cnr9FSK);
}
.slotTargetEndtype_soft {
  color: var(--token-1b59BBpHnqZb);
}
.slotTargetEndtype_bordered {
  color: var(--token-1b59BBpHnqZb);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-I2s9sTFocujm);
}
.slotTargetEndsize_small {
  font-size: var(--token-I2s9sTFocujm);
}
.slotTargetEndsize_large {
  font-size: var(--token-1dNFG50lQSFq);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-1dNFG50lQSFq);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-IE2B8Q37sXdX);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-IE2B8Q37sXdX);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-8b50toQSsh8S);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-8b50toQSsh8S);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-mT0R87ddhIC5);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-mT0R87ddhIC5);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-6Sll_C2s3Cqa);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-6Sll_C2s3Cqa);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-2IH7QXWHwhyh);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-2IH7QXWHwhyh);
}
.svg__o3X1H {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
